:root {
  --row: 4;
  --column: 4;
  --cardHeight: 200px;
  --cardWidth: 180px;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar {
  position: absolute;
  width: 100vw;
  top: 30px;
  display: flex;
  font-size: 6rem;
  justify-content: space-between;
}

.title {
  margin-left: 30px;
}

.timer {}

.message {
  width: 10vw;
  margin-right: 30px;
}

.cardsArea {
  position: relative;
  top: 30px;
  display: grid;
  grid-template-columns: repeat(var(--column), var(--cardWidth));
  grid-template-rows: repeat(var(--row), var(--cardHeight));
  gap: 20px 30px;
}

.card {
  background-color: skyblue;
  height: var(--cardHeight);
  width: var(--cardWidth);
  border: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
}

.card.hide {
  background: linear-gradient(#e66465, #9198e5);
}

.heart {
  background-image: url(./img/heart.png);
}

.blur {
  background-image: url(./img/blur.png);
}

.bar {
  background-image: url(./img/bar.png);
}

.pet {
  background-image: url(./img/pet.png);
}

.pokemon {
  background-image: url(./img/pokemon.png);
}

.chair {
  background-image: url(./img/chair.png);
}

.star {
  background-image: url(./img/star.png);
}

.puzzle {
  background-image: url(./img/puzzle.png);
}