:root {
  --sideBarWidth: 20vw;
  --gameAreaWidth: calc(100vw - var(--sideBarWidth));

  --row: 1;
  --column: 1;
  --cardHeight: calc(100vh / var(--row) * 0.8);
  --cardWidth: var(--cardHeight);
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: var(--sideBarWidth) var(--gameAreaWidth);
  align-items: center;
}

.sideBar {
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  padding-right: 0;
}

.title {
  font-size: calc(var(--sideBarWidth) / 5);
}

.timeText {
  font-size: calc(var(--sideBarWidth) / 2);
  align-self: center;
  justify-self: center;
}

.levelText {
  font-size: calc(var(--sideBarWidth) / 5);
  align-self: end;
}

.gameArea {
  flex-grow: 1;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(var(--column), var(--cardWidth));
  grid-template-rows: repeat(var(--row), var(--cardHeight));
  gap: 20px;

  font-size: 10rem;
  text-align: center;
  align-items: center;
}

button.startButton {
  justify-self: center;
  color: black;
  background-color: white;
  padding: 20px;
  border: 10px solid black;
  font-size: calc(var(--gameAreaWidth) * 0.06);
  box-shadow: 0 0 0 0 transparent;
  cursor: pointer;
}

button.startButton:hover,
button.startButton:focus {
  transition: box-shadow 0.5s;
  box-shadow: 1px 1px 20px black;
}

.card {
  box-sizing: border-box;
  background-color: transparent;
  height: var(--cardHeight);
  width: var(--cardWidth);
  border: 10px solid black;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover {
  height: calc(var(--cardHeight) * 1.01);
  width: calc(var(--cardWidth) * 1.01);
  cursor: pointer;
}

.card.hide {
  background: linear-gradient(#e66465, #9198e5);
}

.fade {
  transition: opacity 1s;
  opacity: 0;
}

/* icons */

.heart {
  background-image: url(./img/heart.png);
}

.blur {
  background-image: url(./img/blur.png);
}

.bar {
  background-image: url(./img/bar.png);
}

.pet {
  background-image: url(./img/pet.png);
}

.pokemon {
  background-image: url(./img/pokemon.png);
}

.chair {
  background-image: url(./img/chair.png);
}

.star {
  background-image: url(./img/star.png);
}

.puzzle {
  background-image: url(./img/puzzle.png);
}